<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Disfraces Rivera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="auth-page">
    <section class="auth-card">
        <h1>Panel administrador</h1>
        <p class="auth-subtitle">
            Aquí podrás subir disfraces, fotos, precios y revisar reservas.
        </p>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/main.js}"></script>
</body>
</html>